.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 20px;
  font-weight: bold;
}

.awardsWrapper {
  padding-block: 10rem 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .trophyIcon {
    height: 150px;
    width: 150px;
    /* fill:  #01fffe; */
    box-shadow: inset 5px 4px 13px 2px;
    padding: 12px;
  }

  .trophyWrapper {
    height: fit-content;
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .astrofun {
    height: 250px;
    position: absolute;
    top: -179px;
    left: -54px;
    transform: rotate(338deg);
  }

  .awardImage {
    height: 200px;
    width: 200px;
  }

  .awardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }