.contactBoard {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bulbBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 150px;
}

.bulbHandler {
 height: 30px;
 width: 20px;
 border-radius:5px;
 background-color: var(--bulb-handle-color);
}

.wire {
 height: 150px;
 width: 2px;
 background-color: var(--bulb-handle-color);
}

.bulb {
 height: 35px;
 width: 35px;
 border-radius: 50%;
 background-color: white;
 margin-top: -12px;
}

.lightShade {
  height: 100px;
  width: 100px;
  background-color: #ffffff59;
  margin-top: -35px;
}

.trapezoid {
  margin-top: -35px;
}

.mediaIcon {
  height: 2rem;
  width: 2rem;
  color: white
}

.mediaBox {
  position: absolute;
  top: 150px;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blinkingTwitter {
  animation: twitterBulb infinite .5s;
  /* transition: all 1s; */
}

@keyframes twitterBulb {
  from {
    box-shadow: white;
    background-image: white
  }
  to {
    box-shadow: 0 0 20px 20px #1ca2f1;
    background-image: radial-gradient(#fff1c0, #1ca2f1)
  }
}

.blinkingLinkedin {
  transition: all 1s;
  animation: linkedinBulb infinite .5s;
  animation-delay: 2.5s;
}

@keyframes linkedinBulb {
  from {
    box-shadow: white;
    background-image: white
  }
  to {
    box-shadow: 0 0 20px 20px #ff3d9cf5;
    background-image: radial-gradient(#fff1c0, #ff3d9cf5)
  }
}

/* .blinkingMail {
  animation: mailBulb infinite .5s;
  animation-delay: 1.5s;
}

@keyframes mailBulb {
  from {
    background-color: white;
  }
  to {
    box-shadow: 0 0 20px 20px #f1a638;
    background-image: radial-gradient(#fff1c0, #f1a638)
  }
}
.blinkingGithub {
  animation: githubBulb infinite .5s;
  animation-delay: 2s;
}

@keyframes githubBulb {
  from {
    background-color: white;
  }
  to {
    box-shadow: 0 0 20px 20px #3cff5a;
    background-image: radial-gradient(#fff1c0, #3cff5a)
  }
} */