.experianceCardWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
}

.experianceCard {
    width: 70%;
    position: relative;
    overflow: visible;
}

.overallExperiance {
    height: 100px;
    width: 100%;
    display: flex;
  }
  
  .firstPart, .secondPart, .ThirdPart, .FourthPart {
    flex: 1;
     height:100%;
    display: flex;
    align-items: center
  }
  
  .exp-circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .start > .exp-circle {
    height: 15px;
    width: 15px;
  }
  
  .exp-line {
    height: 1px;
    width: 100%;
    background-color: white;
    text-align: center;
  }

  .starttingPoint {
    height: 70%;
    width: 70%;
    background-color: rgb(2, 133, 0);
    border-radius: 50%;
  }

  .companyimages {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .skillsContainer {
    display: flex;
  }

  /* progress bar  */

  .progress {
    position: relative;
    padding: 6px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  }

  .progress-bar {	
    height: 10px;
    background-color: #ee303c;  
    border-radius: 4px; 
    transition: 0.4s linear;  
    transition-property: width, background-color;    
  }

  .progress-striped .progress-bar { 	
    background-color: #51fc8d; 
    /* width: 100%;  */
    background-image: linear-gradient(
          45deg, rgb(17, 252, 103) 25%, 
          transparent 25%, transparent 50%, 
          rgb(17, 252, 103) 50%, rgb(17, 252, 119) 75%,
          transparent 75%, transparent); 
    /* animation: progressAnimationStrike 2s; */
  }



.rocketWrapper {

    height: auto;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: -27px;
}

.rocketImg {
    /* top: -23px; */

    transform: rotate(90deg);
    height: 75px;
    width: 75px;
}

.experianceCard:hover .rocketWrapper {
    animation: progressAnimationStrike 3s;

}

.experianceCard:hover .progress-striped .progress-bar  {
    animation: progressAnimationStrike 3s;
}

@keyframes progressAnimationStrike {
    from { width: 0 }
    to   { width: 100% }
}

/* flag */

.flagWrapper{
/*   background-color: black; */
  width: 30px;
  height: 40px;
  border-width: 0px 0px 0px 3px;
  border-color: black;
  border-style: solid;
  display: flex;
  justify-content: start;
  transform: rotate(-22deg);
  position: relative;
}

.flagWrapper::before{
  content: "";
  height: 60%;
  width: 100%;
  background-image: linear-gradient(to right, #ffffff ,#d8d8d8,  #e8e8e8);
  clip-path: polygon(31% 0, 57% 5%, 95% 0, 100% 86%, 70% 99%, 34% 92%, 0 98%, 5% 71%, 6% 36%, 0 4%);
}

.experianceBox {
  display: flex;
  align-items: end;
}

.experianceWrapper {
  display: flex;
  justify-content: space-between;
  color:aliceblue
}

.companyLogo {
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 50%;
  
}

.astronut {
    position: absolute;
    height: 100px;
    top: -60px;
}