.projectContainer {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    grid-gap: 20%;
}

.projectIcon {
    height: 15rem;
    width: 15rem;
    border: 1px solid white;
    border-radius: 12px;
}

.projectCard {
    display: flex;
}