.Card {
    background-clip: border-box;
    border-radius: 8px;
    transition: 1s all;
    cursor: pointer;
    background-color: var(--card-bg-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.Card:hover {
  background-color: var(--card-bg-hover-color);
  box-shadow: 2px 2px 5px;
}

@keyframes card {
    0% {
        margin-bottom: 20px;
      }
      50% {
        margin-bottom: 0px;
      }
      100% {
        margin-bottom: 20px;
      }
}

.highlight {
    position: absolute;
    height: 200%;
    width: 100%;
    /* background-color: #cacbcd29; */
    background-color: var(--card-reflaction);
    border-radius: 50%;
    left: -50%;
    top:-50%;
    z-index: -1;
}

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}