.headerOuterContainer {
    position: absolute;
    max-width: 80rem;
    background: var(--transparent-bg-color);
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid var(--transparent-border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    border-radius: 12px;
    margin-top: 10px;
}

.visible {
    height: 4rem;
    transition: all .2s linear;
    transform: scale(1.2);
}

.hidden {
    height: 0;
    transition: all .2s linear;
}

.visibleButton, .visibleProfile {
    height: 2.5rem;
    transition-delay: .3s;
    transition: all .1s linear;
    padding: 5px
}

.hiddenButton, .hiddenProfile {
    height: 0;
    /* visibility: hidden; */
    transition-delay: .3s;
    transition: all .1s linear;
    padding: 0px;
}

.outerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100px;
    z-index: 3;
    position: fixed;
}

.headerButton {
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-inline:10px;
    width: 2.5rem;
    background-color: white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-self: center;
}

.theme {
    background-image: var(--bg-color);
}

.iconContainer {
    text-align: start;
}

.profileOptions {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.icon {
    background-size: cover;
    height: 80%;
    width: 80%;
    flex: 1;
    border-radius: 12px;
}

.visibleProfile::after {
    content: '';
    height: 3rem;
    width: 1px;
    background-color: aliceblue;
    position: absolute;
    left: 60px;
    margin: 10px
}