.aboutScreenContainer {
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reactIcon:hover {
    background-color: rgb(0, 145, 255);
    fill: rgb(0, 0, 56);
}

.jsIcon:hover {
    background-color: rgb(255, 230, 0);
    fill: rgb(0, 0, 56);
}

.htmlIcon:hover {
    background-color: red;
}

.cssIcon:hover {
    background-color: green;
}

.experiancePartContainer {
    display: flex;
    align-items: center;
}

.about {
    font-size: 1.1em;
}

.ASE::before {
    background-image: url(../../images/kissflow.gif);
    margin-right: 4px;
}

.ASE::after {
    width: 150px;
}

.SE {
    left: 550px;
}

.SE::before {
    background-image: url(../../images/kissflow.gif);
    margin-right: 4px;
}

.SE::after {
    height: 0px;
}

.experiances {
    margin: 0px;
    margin-bottom: 20px;
    left: 70px;
    position:absolute
}

.ASEfont {
    left: 180px;
}

.SEfont {
    left: 420px;
}

.aboutScreenCard {
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 70%;
}

.skills {
    width: 100%;
}

.skillsBoard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

/* experiance */

.overallExperiance {
    height: 100px;
    width: 100%;
    display: flex;
  }
  
  .firstPart, .secondPart, .ThirdPart, .FourthPart {
    flex: 1;
     height:100%;
    display: flex;
    align-items: center
  }
  
  .exp-circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
      border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .start > .exp-circle {
    height: 15px;
    width: 15px;
  }
  
  .exp-line {
    height: 1px;
    width: 100%;
    background-color: white;
    text-align: center;
  }

  .starttingPoint {
    height: 70%;
    width: 70%;
    background-color: rgb(2, 133, 0);
    border-radius: 50%;
  }

  .companyimages {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .skillsContainer {
    display: flex;
  }