@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');


.homeScrean {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    flex-wrap: wrap-reverse;
}

.cardPart, .profileArea {
    flex: 1;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.astroIcon {
    position: absolute;
    height: 130px;
    width: 130px;
    top: -105px;
    left: 0px;
}

.homeScreenCard {
    align-self:center;
    max-width: 30rem;
    display: flex;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    overflow: visible;
}

.homeScreenfonts {
    margin: 0px;
    font-size: 1em;
}

.fontStyle.name {
    font-size: max(25px, 3vw);
    font-weight: bold;
}

.fontStyle.helloText {
    font-size: max(15px, 1.5vw);
    letter-spacing: .35em;
}

.fontStyle.self {
    font-size: max(15px, 1.5vw);
}   

.fontStyle.role {
    color: var(--highlight-font-color)
}

.button {
    width: fit-content;
    margin-block-start: 8px;
}

.image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.imageContainer {
    height: 150px;
    width: 150px;
}